/* Reset some default styles */
body, h1, h2, p { background-color: d;
    margin: 0
    ;
    padding: 0;
}



/* Set a background color and text color for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #333;
}

/* Add a background image to the header */
.header {
    background-image: url('logo.png');
    
    
    /* Replace with your image path or URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff; /* Text color on top of the background image */
}

/* Style the header navigation */
header li {
    background-color: wite;
    color:
    padding: 10px 0;
}

nav img {
  position: relative;
  top: 10px;
  right: 10px;
}




/* Add a background image to the body element */
body {
  background-image: url('bc.png');
  /* Replace with your image path or URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


nav ul {
    list-style: none;
}



nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a  {
    text-decoration: none;
    color: white;
    font-weight: bold; color: orangered; 

}


/* Style the hero section */
#hero {
    text-align: center;
    padding: 100px 0;
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 50px;
}

#hero p {
    font-size: 15px;
}

.cta-button {
    display: inline-block;
    padding:10px 20px;
    margin-top: 100px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555;
}

/* Style the other sections as needed */

#about, #features, #contact {
    padding: 100px 0;
    background-color:textlack;
}

h2 { color:white;
    font-size: 30px;
    margin-bottom: 50px 
}

ul li a {color:red}
    list-style: none;
    padding-left:;
}


ul li  {
    margin-bottom: 10px;
}
h3{color:white ;}
/* Style the footer */
footer {
    text-align: center;
    padding: 15px 0;
    background-color: orangere;
    color: yellowgreen;
}

/* Add more custom styles as needed */

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    header {
        text-align: center;
    }

    nav ul {
        padding-top: 20px;
    }

    nav ul li {
        display: block;
        margin: 0;
    }

    /* Add more responsive styles */
}
